.bpm-control {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bpm-input {
    width: 60px;
    padding: 5px;
    font-size: 16px;
}

.bpm-slider {
    flex: 1;
    min-width: 150px;
}

/* Chrome, Edge, Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}