.footer-section {
    padding-top: 0;   /* pt-7 */
    padding-bottom: 0.75rem; /* pb-3 */

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    gap: 1.25rem; /* gap-5 */

    /*border-top: 1px solid #1f1f1f; !* border-black-300 *!*/
}

.footer-text {
    color: #b3b3b3; /* text-white-500 */
    display: flex;
    gap: 0.5rem;
    font-size: .75rem;
}
